
// FONTS

$header: 'Rammetto One', sans-serif;
$title: 'Rametto One', sans-serif;
$body: 'Abel', sans-serif;

$black: #5B584F;
$white: #F9FAF9;
$green: #92A78C;
$orange: #F79E6B;
$tan: #F7CD82;

@mixin hamburger {
  background-color: $white;
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  right: 0;
  transform: translateY(0);
  transition: .3s ease-in-out;
  width: 2px;
}
