
// FONTS

$header: 'Fjalla One', sans-serif;
$title: 'Fjalla One', sans-serif;
$body: 'Abel', sans-serif;

$black: #5B584F;
$white: #F9FAF9;
$green: #92A78C;
$orange: #F79E6B;
$tan: #F7CD82;

@mixin hamburger {
  background-color: $white;
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  right: 0;
  transform: translateY(0);
  transition: .3s ease-in-out;
  width: 2px;
}

@mixin taco {
  background: url("../img/logo.png") no-repeat center;
  background-size: contain;
  content: "";
  display: block;
  height: 80px;
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 80px;
}
