
@import 'reset.scss';
@import 'responsive.scss';
@import 'mixinVariable.scss';
@import 'framework.scss';

/*------------------------
--------SITE CONTENT------
------------------------*/

.topNav {
  //background-color: rgba(249,250,249,.9);
  //box-shadow: 2px 2px 2px rgba(10,10,10,.2);

    @include responsive(small-screen) {
      display: none;
    }

    @include landscape {
      display: none;
    }
}

.logo {
  background-image: url("../img/logo.png");
  margin-left: 2.618em;
  margin-top: .618em;
  height: 10em;
  width: 10em;
}

.mNav {

  @include responsive(small-screen) {
    display: block;
  }

  @include landscape {
    display: block;
  };
}

.mLogo {
  height: 6em;
  width: 6em;
}

#mMenu {
  flex-direction: column;
  height: 100%;
  left: 100%;
}

.mOption {
  border-bottom: 1px solid grey;
  font-size: 1.618em;
  margin-right: 0;
}

.mSoc {
  background: $black;
  min-width: 200px;
}

#menuClose {
  cursor: pointer;
}

#hamburger {

  cursor: pointer;
  float: right;
  height: 40px;
  position: relative;
  width: 30px;

    &::before {
      @include hamburger;
      top: 10px;
    }

    &::after {
      @include hamburger;
      bottom: 10px;
    }
}

.linkRed {

  &:hover {
    color: $red!important;
  }
}

.linkBlack {

  &:hover {
    color: $black;
  }
}

.navOption {
  margin-right: 2.618em;

    @include responsive(small-screen) {
      margin-bottom: 1em;
      margin-right: 0;
    }
}

.hero {
  background-image: url("../img/hero.jpg");
  flex-direction: column;
  min-height: 100vh;

    @include responsive(small-screen) {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    @include landscape {
      align-items: center;
      display: flex;
      justify-content: center;
    }
}

.titleDiv {
  bottom: 5vw;
  width: 100%;

    @include responsive(small-screen) {
      margin-top: 10em;
      position: relative;
    }

    @include landscape {
      margin-top: 10em;
      position: relative;
    }
}

.titleText {
  font-family: $title;
  font-size: 8.8vw;
  line-height: 4vw;

    @include responsive(small-screen) {
      line-height: 1;
    }
}

.infoDiv {
  background-color: rgba(10,10,10,.4);
}

.sidebar {
  background-color: rgba(10,10,10,.7);

    @include responsive(small-screen) {
      display: none;
    };

    @include landscape {
      display: none;
    } ;
}

.socNav {
  align-items: center;
  justify-content: space-around;
}

.contTxt {
  max-width: 500px;
  width: 40vw;

    @include responsive(small-screen) {

      min-width: 100%;
      text-align: center;
      width: 100%;
    };
}

.imgDiv {
  min-height: 740px;
  width: 60vw;

    @include responsive(small-screen) {

      display: none;
    }
}

.imgMiss {
  background-image: url("../img/shed5.jpg");
}

.imgTix {
  background-image: url("../img/pizza.jpg");
}

.flowButton {
  margin: 0;
}

.sponsorDiv {
  flex-wrap: wrap;
}

.sponsor {
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  width: 10vw;

    @include responsive(small-screen) {
      height: 15vw;
      width: 15vw;
    }
}

#sicily {
  background-image: url("../img/sicilys.jpg");
}

#mcbw {
  background-image: url("../img/mcbw.jpg");
}

#belle {
  background-image: url("../img/belleIsle.png");
}

#brass {
  background-image: url("../img/brassRail.png");
}

#dsp {
  background-image: url("../img/dsp.png");
}

#gior {
  background-image: url("../img/gior.jpeg");
}

#atwater {
  background-image: url("../img/atwater.jpg");
}

#jets {
  background-image: url("../img/jets.png");
}

#mikes {
  background-image: url("../img/mikes.png");
}

#offworld {
  background-image: url("../img/offworld.png");
}

#tonys {
  background-image: url("../img/tonys.jpeg");
}

#ink {
  background-image: url("../img/ink.jpg");
}

#first {
  background-image: url("../img/first.png");
}

#altos {
  background-image: url("../img/altos.jpg");
}

#malibu {
  background-image: url("../img/malibu.jpg");
}

#jameson {
  background-image: url("../img/jameson.png");
}

#absolut {
  background-image: url("../img/absolut.png")
}

#embc {
  background-image: url("../img/embc.png");
}

#three {
  background-image: url("../img/365.png");
}

#faygo {
  background-image: url("../img/faygo.png");
}

#volunteer {

    @include responsive(small-screen) {
      padding: 0;
    };
}

.formDiv {
  background-color: $black;
  min-width: 400px;
  max-width: 100%;

    @include responsive(small-screen) {
      min-width: 100%;
      padding: 1em;
      width: 100%;
    }
}

label {
  padding-left: 8px;
}

.volInput {
  background-color: rgba(253,253,253,.2);
  border: none;
  color: $white;
  display: block;
  line-height: 2.618em;
  padding-left: 8px;
  outline: none;
  width: 100%;

    &:focus {
      color: $white;
    }
}

.volArea {
  overflow: scroll;
  resize: none;
}

input[type="submit"] {
  appearance: none;
  cursor: pointer;
  font-size: 1.618em;
  margin: 1em;
  -moz-appearance: none;
  outline: none;
  -webkit-appearance: none;
}
