
@import 'reset.scss';
@import 'responsive.scss';
@import 'mixinVariable.scss';
@import 'framework.scss';

/*------------------------
--------SITE CONTENT------
------------------------*/

.topNav {
  background-color: transparent;
  height: 100px;
  position: fixed;
  transform-origin: right top;
  transform: rotate(90deg) translateX(100%);
  width: 100%;
}

.logo {
  background-image: url("../img/logo.png");
  height: 20vw;
  min-height: 200px;
  min-width: 200px;
  width: 20vw;
}

.mNav {

  @include responsive(small-screen) {
    display: block;
  }

  @include landscape {
    display: block;
  };
}

.mLogo {
  height: 6em;
  width: 6em;
}

#mMenu {
  flex-direction: column;
  height: 100%;
  left: 100%;
  width: 100%;
}

.mOption {
  font-size: 1.618em;
  line-height: 1.618em;
  margin-right: 0;

    &:hover {
      color: $green;
    }
}

.mSoc {
  min-width: 200px;

    li {
      transform: rotate(0);
    }
}

#menuClose {
  cursor: pointer;
}

#hamburger {

  cursor: pointer;
  height: 30px;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 35px;
  position: relative;
  width: 30px;

    &::before {
      @include hamburger;
      right: 10px;
    }

    &::after {
      @include hamburger;
      left: 10px;
    }

    &:hover::before {
      right: 5px;
    }

    &:hover::after {
      left: 5px;
    }
}

.linkRed {

  &:hover {
    color: $green!important;
  }
}

.linkBlack {

  &:hover {
    color: $black;
  }
}

.navOption {
  margin-right: 60px;
}

.tix {
  transform: translateY(-10px);
}

.hero {
  background-image: url("../img/heroBW.png");
  flex-direction: column;
  min-height: 100vh;

    @include responsive(small-screen) {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    @include landscape {
      align-items: center;
      display: flex;
      justify-content: center;
    }
}

.titleDiv {
  width: 100%;

    @include responsive(small-screen) {
      position: relative;
    }

    @include landscape {
      position: relative;
    }
}

.titleText {
  font-family: $header;
  font-size: 4.236em;
  line-height: 1em;

    @include responsive(small-screen) {
      line-height: 1;
    }
}

.bgTile {
  float: left;
  height: 100%;
  width: 50%;
}

.infoDiv {
  background-color: rgba(10,10,10,.4);
}

.sidebar {
  background-color: rgba(10,10,10,.7);

    @include responsive(small-screen) {
      display: none;
    };

    @include landscape {
      display: none;
    } ;
}

.socNav {
  align-items: center;
  justify-content: space-around;
}

.contTxt {
  border: 2px solid $white;
  max-width: 500px;
  padding: 2em;
  width: 40vw;

    @include responsive(small-screen) {

      min-width: 100%;
      text-align: center;
      width: 100%;
    };
}

.imgDiv {
  height: 400px;
  margin-bottom: 4.237em;
  width: 400px;

      &::after {

        @include taco;
      }
}

.imgMiss {
  background-image: url("../img/mission.jpg");
}

.imgTix {
  background-image: url("../img/shed5.jpg");
}

.flowButton {
  margin: 0;
}

.sponsorDiv {
  flex-wrap: wrap;
}

.sponsor {
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  width: 10vw;

    @include responsive(small-screen) {
      height: 15vw;
      width: 15vw;
    }
}

#volunteer {

    @include responsive(small-screen) {
      padding: 0;
    };
}

.formDiv {
  background-color: $black;
  min-width: 400px;
  max-width: 100%;

    @include responsive(small-screen) {
      min-width: 100%;
      padding: 1em;
      width: 100%;
    }
}

label {
  padding-left: 8px;
}

.volInput {
  background-color: rgba(253,253,253,.2);
  border: none;
  color: $white;
  display: block;
  line-height: 2.618em;
  padding-left: 8px;
  outline: none;
  width: 100%;

    &:focus {
      color: $white;
    }
}

.volArea {
  overflow: scroll;
  resize: none;
}

input[type="submit"] {
  appearance: none;
  cursor: pointer;
  font-size: 1em;
  margin: 1em;
  -moz-appearance: none;
  outline: none;
  -webkit-appearance: none;
}
