
@import 'reset.scss';
@import 'responsive.scss';
@import 'mixinVariable.scss';
@import 'framework.scss';

/*------------------------
--------NAV MENU----------
------------------------*/

.margLogo {
  background-image: url("../img/margBurst.png");
  height: 160px;
  width: 160px;
}

.topNav {
  background-color: transparent;
  height: 100px;
  position: fixed;
  transform-origin: right top;
  transform: rotate(90deg) translateX(100%);
  width: 100%;

    a {
        &:hover {
          color: $green;
        }
    }
}

.logo {
  background-image: url("../img/logo.png");
  height: 20vw;
  min-height: 200px;
  min-width: 200px;
  width: 20vw;
}

.mNav {

  @include responsive(small-screen) {
    display: block;
  }

  @include landscape {
    display: block;
  };
}

.mLogo {
  height: 6em;
  width: 6em;
}

#mMenu {
  flex-direction: column;
  height: 100%;
  left: 100%;
  width: 100%;
}

.mOption {
  font-size: 1.618em;
  line-height: 1.618em;
  margin-right: 0;

    &:hover {
      color: $green;
    }
}

.mSoc {
  min-width: 200px;

    li {
      transform: rotate(0);
    }
}

#menuClose {
  cursor: pointer;
}

#hamburger {

  cursor: pointer;
  height: 30px;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 35px;
  position: relative;
  width: 30px;

    &::before {
      @include hamburger;
      right: 10px;
    }

    &::after {
      @include hamburger;
      left: 10px;
    }

    &:hover::before {
      right: 5px;
    }

    &:hover::after {
      left: 5px;
    }
}

.navOption {
  margin-right: 60px;
}

.tix {
  transform: translateY(-10px);
}

.socNav {
  align-items: center;
  justify-content: space-around;
}


/*------------------------
--------HERO----------
------------------------*/

.hero {
  background-attachment: fixed;
  background-image: url("../img/hero2comp.png");
  flex-direction: column;
  min-height: 100vh;

    @include responsive(small-screen) {
      background-attachment: scroll;
    }

    @include landscape {
      background-attachment: scroll;
    }
}


/*------------------------
--------TEXT CONTENT-------
------------------------*/

.contTxt {
  border: 2px solid $tan;
  max-width: 500px;
  padding: 2em;

    @include responsive(small-screen) {
      min-width: 100%;
      padding: 1em;
      text-align: center;
      width: 100%;
    }
}

.headline {

    &::after {

      @include taco;
    }
}

.imgDiv {
  background-attachment: fixed;
  height: 400px;
  width: 100vw;

    @include responsive(small-screen) {
      background-attachment: scroll;
    }
}

.imgMiss {
  background-image: url("../img/mission.jpg");
}

.imgTix {
  background-image: url("../img/shed5.jpg");
  background-position: top center;
}

#info, #tickets {

    @include responsive(small-screen) {
      padding: 1em;
    }
}

.flowButton {
  margin: 0;
}

/*------------------------
--------SPONSORS----------
------------------------*/

.sponsorDiv {
  flex-wrap: wrap;
  margin: auto;
  width: 80%;

    @include responsive(small-screen) {
      width: 100%;
    }
}

.sponsor {
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  width: 10vw;

    @include responsive(small-screen) {
      height: 15vw;
      width: 15vw;
    }
}

#faygo {
  background-image: url("../img/faygo.png");
}

#first {
  background-image: url("../img/first.png");
}

#aqua {
  background-image: url("../img/aqua.png");
}

#lis {
  background-image: url("../img/lis.jpg");
}

#dmfg {
  background-image: url("../img/dmfg.png");
}

#alley {
  background-image: url("../img/alley.png");
}

#mex {
  background-image: url("../img/mex.png");
}

#wella {
  background-image: url("../img/wella.png");
}

#nee {
  background-image: url("../img/nee.png");
}

#elJim {
  background-image: url("../img/elJim.png");
}

#delBen {
  background-image: url("../img/delBen.png");
}

#beyond {
  background-image: url("../img/beyond.png");
}

#water {
  background-image: url("../img/water.png");
}

#harolds {
  background-image: url("../img/harolds.png");
}

#girls {
  background-image: url("../img/girls.jpg");
}

#mikes {
  background-image: url("../img/mikes.jpg");
}

#barefoot {
  background-image: url("../img/barefoot.png");
}

#fourleaf {
  background-image: url("../img/fourleaf.png");
}

#torti {
  background-image: url("../img/torti.png");
}

#cayman {
  background-image: url("../img/cayman.png");
}

#mrtaco {
  background-image: url("../img/mrtaco.jpg");
}

#mexico {
  background-image: url("../img/mexico.jpg");
}

#naci {
  background-image: url("../img/nacimiento.jpg");
}

#pearl {
  background-image: url("../img/pearl.png");
}

#steam {
  background-image: url("../img/steam.jpg");
}

#crow {
  background-image: url("../img/crow.jpg");
}

#river {
  background-image: url("../img/river.png");
}

#loncheria {
  background-image: url("../img/loncheria.jpg");
}

#volunteer {

    @include responsive(small-screen) {
      padding: 0;
    };
}

/*------------------------
--------CONTACT----------
------------------------*/

.formDiv {
  background-color: $black;
  min-width: 400px;
  max-width: 400px;

    @include responsive(small-screen) {
      min-width: 100%;
      padding: 1em;
      width: 100%;
    }
}

label {
  padding-left: 8px;
}

.volInput {
  background-color: rgba(253,253,253,.2);
  border: none;
  color: $white;
  display: block;
  line-height: 2.618em;
  padding-left: 8px;
  outline: none;
  width: 100%;

    &:focus {
      color: $white;
    }
}

.volArea {
  overflow: scroll;
  resize: none;

    @include responsive(xl-screen) {
      overflow: none;
    }
}

input[type="submit"] {
  appearance: none;
  cursor: pointer;
  font-size: 1em;
  margin: 1em;
  -moz-appearance: none;
  outline: none;
  -webkit-appearance: none;
}
